.telemetry-graph-container {
  position: relative;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  overflow: visible;
}

.telemetry-svg {
  filter: drop-shadow(0 0 5px rgba(var(--main-color-rgb), 0.1));
}

.graph-dot {
  opacity: 0;
  transition: opacity 0.2s;
}

.telemetry-graph-container:hover .graph-dot {
  opacity: 0.6;
}

.graph-axes {
  position: absolute;
  left: -2rem;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.6rem;
  color: var(--sub-color);
  font-family: var(--font);
  opacity: 0.5;
}

.axis-label {
  line-height: 1;
}
